body {
  position: relative;
}

.gif-container {
  display: block;
  margin: auto;
}

.gif-img {
  margin: auto;
  width: 30%;
  height: 30%;
}


.logo-title-container {
  text-align: center;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('Franklin Gothic Demi Cond Regular.ttf') format('truetype');
}

h1.engine-title {
  color: rgb(255, 255, 255);
  margin: auto;
  font-family: 'MyWebFont';
  margin-top: 0.5%;
  font-size: 40px;
}

.number-three {
  color: rgba(255, 172, 5, 1.00);
  font-size: 45px;
}

.image-container {
  position: absolute;
  left: 2%;
  top: 2%;
  width: 50px;
}

.engine-style{
  font-family: 'Gruppo', sans-serif;
  font-style: italic;
  font-size: smaller;
  color: rgb(255, 255, 255);
}

.typewriter-container {
  position: static;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 2%;
  justify-content: center;
}

.typewriter {
  font-size: 25px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  color: rgb(94, 94, 94);
}

b {
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  h1.engine-title {
    font-size: 25px!important;
    text-align: center;
  }

  .number-three {
    font-size: 30px!important;
  }

  .typewriter {
    font-size: 15px!important;
  }

  .typewriter-container {
    margin-top: 5%;
  }

  .card-object{
    min-width: 220px!important;
    max-width: 220px!important;
  }

  .title-datasets {
    margin-top: 10%!important;
    margin-bottom: 5%!important;
  }

  .title-dataset-link {
    font-size: 20px!important;
    width: 95%!important
  }

  .bg-white{
    height: 150px!important;
    width: 200px!important;
  }

  footer{
    text-align: left!important;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
  }

  .image-container {
    width: 30px!important;
  }
}

.page-container {
  display: grid;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: absolute;
  top: 10%;
  right: 1%;
  bottom: 1%;
  left: 1%;
  }

.title-datasets{
  text-align: center;
  margin: auto;
  margin-top: 3%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.datasets-cards-container{
    display: flex;
    margin: auto;
    margin-top: 2%;
}


.row {
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
  margin-top: 1%;
  padding-right: 15%;
  padding-left: 15%;
}

.card-object {
  min-width: 400px;
  max-width: 400px;
}

@keyframes delayedFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* Set initial opacity to 0 */
  animation: delayedFadeIn 2s ease-in-out forwards;
  /* Adjust the animation duration as needed */
  animation-delay: 0.2s;
  /* Adjust the delay (in seconds) as needed */
}

.title-dataset-link {
  color: rgba(0, 123, 255, 0.555);
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  padding: 2%;
}

.title-dataset-link:hover {
  color: rgb(0, 123, 255);
}

.buttons-line{
  display: flex;
  margin: auto;
  justify-content: center;
}

.button-container {
  width: 180px;
  padding: 1%;
}

button {
  color: rgb(255, 255, 255)!important;
  background-color:rgb(2, 124, 254)!important;
  border: 2px solid rgb(255, 255, 255)!important;
}

button:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 172, 5, 1.00)!important;
  border: 2px solid rgb(255, 255, 255)!important;
}

.btn {
  outline: none;
  border: none;
}

.btn :hover{
  outline: none;
  border: none;
}

footer {
  text-align: center;
  bottom: 0;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 100%;
}
