{% extends 'base.html' %}

{% block container %}
<div class="column-main">
  <div class="typewriter-container">
      <span class="typewriter" style="color:white">The ultimate <b>web3 newsletter</b> for discovering overall crypto content. <b>Subscribe</b> on Mirror, <b>Mint</b> a report & <b>get a Dataset</b> in your inbox.</span>
  </div>
  <!--Projects Section-->
  <div class="gif-container">
    <img src="static/images/post3_gif.gif" class="gif-img" alt="Post3 Engine Gif">
  </div>
  <!--button-->
  <div class="buttons-line">
    <div class="button-container">
      <a href="/models/">
        <button class="btn btn-primary" type="submit">I have a dataset</button>
      </a>
    </div>
    <div class="button-container">
      <a href="https://mirror.xyz/post3.eth" target="_blank">
        <button class="btn btn-primary" type="submit">Go to Mirror</button>
      </a>
    </div>
  </div>
  <footer>
    <p style="color: white;">Running in {{year}}. Built with &#129505 for Web3 enthusiasts.</p>
  </footer>
</div>
{% endblock %}
