{% extends 'base.html' %}

{% block container %}
<div class="column-main">
  <div class="typewriter-container">
      <span class="typewriter" style="--n:500">Post3 uses <b>Insightful Dashboards</b> and <b>AI Powered Tools</b> to harness the potential of <b>Writing NFTs</b> from <b>Web3 Publishing Platforms</b>. Collect the <b>Weekly Datasets</b> and upload on <b>Post3 Engine</b> to draw conclusions.</span>
  </div>
  <h1 class="title-datasets fade-in" style="--n:100">Featured Datasets</h1>
  <!--Projects Section-->
  <div class="row fade-in">
    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4 card-object">
      <div class="bg-white rounded shadow-sm">
        <div class="p-4">
          <h1 class="title-dataset-link"><a href="https://market.oceanprotocol.com/asset/did:op:9101d57da9a4e4b2df4e356af0fe5e686887a31ec9aa4f4284df93e2610c4869"  style="text-decoration: none;" target="_blank">Post3 Dataset | Mirror Entries from Week 2 2024</a></h5>
        </div>
        <div class="ocean-img-container">
          <img class="ocean-img" src="static/images/ocean_logo.png" alt="Ocean Logo">
        </div>
      </div>
    </div>
    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4 card-object">
      <div class="bg-white rounded shadow-sm">
        <div class="p-4">
          <h1 class="title-dataset-link"><a href="https://market.oceanprotocol.com/asset/did:op:f88b981156ea3c68214908a6555117cf55d144dd8c833c36152d74624cbf0fad"  style="text-decoration: none;" target="_blank">Post3 Dataset | Mirror Entries from Week 1 2024</a></h5>
        </div>
        <div class="ocean-img-container">
          <img class="ocean-img" src="static/images/ocean_logo.png" alt="Ocean Logo">
        </div>
      </div>
    </div>
    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4 card-object">
      <div class="bg-white rounded shadow-sm">
        <div class="p-4">
          <h1 class="title-dataset-link"><a href="https://market.oceanprotocol.com/asset/did:op:048c21fd965c73525043eaff7c1f5eb4ed99198a8cf0bdc3ac8e3ae9c26c8576"  style="text-decoration: none;" target="_blank">Post3 Dataset | Mirror Entries from Week 52 2023</a></h5>
        </div>
        <div class="ocean-img-container">
          <img class="ocean-img" src="static/images/ocean_logo.png" alt="Ocean Logo">
        </div>
      </div>
    </div>
    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4 card-object">
      <div class="bg-white rounded shadow-sm">
        <div class="p-4">
          <h1 class="title-dataset-link"><a href="https://market.oceanprotocol.com/asset/did:op:c8eb785a1fb81971337ea734a7c905357b1e3ef45ef5caf93f1ab129caa9cfff"  style="text-decoration: none;" target="_blank">Post3 Dataset | Mirror Entries from Week 51 2023</a></h5>
        </div>
        <div class="ocean-img-container">
          <img class="ocean-img" src="static/images/ocean_logo.png" alt="Ocean Logo">
        </div>
      </div>
    </div>
  </div>
  <!--button-->
  <div class="button-container">
    <a href="/models/">
      <button class="btn btn-primary" type="submit">I have a dataset</button>
    </a>
  </div>
  <footer>
    <p>Running in {{year}}. Built with &#129505 for Web3 enthusiasts. More about Post3 <a href="https://bento.me/post3" target="_blank" style="color: rgb(0, 122, 255);">here</a>.</p>
  </footer>
</div>
{% endblock %}
