{% extends 'base.html' %}

{% block container %}
<div class="column-main">
  <h1 class="title-datasets fade-in" style="--n:100">Pick Your Model</h1>
  <!--Projects Section-->
  <div class="row fade-in">
    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4 card-object">
      <div class="bg-white rounded shadow-sm">
        <div class="p-4">
          <h1 class="title-dataset-link"><a href="https://market.oceanprotocol.com/asset/did:op:3b594580b546873df803b8754ba6e6e8498f732c0bcf1175da7e11b0d3e2f52d"  style="text-decoration: none;" target="_blank">Post3 Dataset | Mirror Entries from Week 50 2023</a></h5>
        </div>
        <div class="ocean-img-container">
          <img class="ocean-img" src="static/images/ocean_logo.png" alt="Ocean Logo">
        </div>
      </div>
    </div>
    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4 card-object">
      <div class="bg-white rounded shadow-sm">
        <div class="p-4">
          <h1 class="title-dataset-link"><a href="https://market.oceanprotocol.com/asset/did:op:81f74ba73570d09d77449ef144aa79137c7470693e50036ca461695e3344d4cf"  style="text-decoration: none;" target="_blank">Post3 Dataset | Mirror Entries from Week 49 2023</a></h5>

        </div>
        <div class="ocean-img-container">
          <img class="ocean-img" src="static/images/ocean_logo.png" alt="Ocean Logo">
        </div>
      </div>
    </div>
  </div>
  <!--button-->
  <div class="button-container">
    <a href="/models/">
      <button class="btn btn-primary" type="submit">Generate charts!</button>
    </a>
  </div>
</div>
{% endblock %}
